.icono2p {

    width: 70%;
    height: 80px;
    margin-left: 10px;
    
  
  }

  .imgp {

    width: 100%;
    transition: all .5s;
    cursor: pointer;
    height: fit-content;
    border-radius: 10px;
  
  }

  .imgp:hover{

    transform: scale(1.03);
  
  }