.textoq1{
  
    font-family: 'Delicious Handrawn', cursive;
    font-size: 90px;
    color: rgb(255, 12, 12); 
    text-shadow: rgb(0, 0, 0) 0.1em 0.1em 0.2em;
    text-align: center !important;
  
  }