.banner{

  background-image: url("https://firebasestorage.googleapis.com/v0/b/comicstore-aff4a.appspot.com/o/ConocenosPortada.jpg?alt=media&token=b5ea2df9-c60a-46a1-ba59-77a0b4989836");
  background-position: top center;
  background-size: cover; 
  padding: 22% 20% 20% 5%;
  position: relative;
  z-index: 1;
  background-attachment: fixed;

}

.banner::after{

  content:'';
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: rgb(0, 0, 0);
  top: 0;
  left: 0;
  opacity: 0.4;
  z-index: -1;

}

.texto1{

  font-family: 'Delicious Handrawn', cursive;
  font-size: 65px;
  color: rgb(255, 12, 12); 
  text-shadow: rgb(0, 0, 0) 0.1em 0.1em 0.2em;

}

.texto2{

  font-family: 'Delicious Handrawn', cursive;
  font-size: 50px;
  color: rgb(255, 255, 255); 
  text-shadow: rgb(0, 0, 0) 0.1em 0.1em 0.2em;

}

.background{

  background-color: black;

}

