.background{

    background-color: black;

}

.imgSombra{

    border-radius: 8px;
    box-shadow: 0 8px 8px 0 rgba(0, 0, 0, 0.15);

}

.titulo{

    margin-left: 5px;
    font-family: 'Delicious Handrawn', cursive ;
    font-size: 50px;
    color: rgb(255, 12, 12); 
    text-shadow: rgb(224, 137, 23) 0.0em 0.0em 0.3em;

}

.subTitulo{

    margin-left: 5px;
    font-family: 'Delicious Handrawn', cursive ;
    font-size: 28px;
    color: rgba(254,237,0,255); 
    text-shadow: rgb(248, 237, 233) 0.0em 0.0em 0.3em;

}

.text{

    margin-left: 5px;
    font-family: 'Poppins', sans-serif;
    font-size: 19px;
    color: rgba(255, 255, 255, 0.866); 
    text-shadow: rgb(0, 0, 0) 0.1em 0.1em 0.2em;

}